<p id="notice"><%= notice %></p>

<h1>People <span id="count"><%=Person.count%></span></h1>
<table>
  <thead>
    <tr>
      <th>State</th>
      <th>City</th>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="body">
    <% @people.each do |person| %>
      <tr>
        <td><%= person.state.name %></td>
        <td><%= person.city.name %></td>
        <td><%= person.name %></td>
        <td><%= person.email %></td>
        <td><%= person.mobile %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
<h2>add person</h2>
<div id= "errorMessage"></div>
<%= render 'form',person: @person%>
















