<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @person.state_id %>
</p>

<p>
  <strong>City:</strong>
  <%= @person.city_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @person.mobile %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
