<%= form_with(model: customer, local: true,id:'customer_form') do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :state_id%>
    <%= form.collection_select :state_id, State.all, :id, :name, {prompt: "Select"}, {id: :customer_state_id} %><span id="stateError"></span>
  </div>
  <div class="field">
    <%= form.label :city_id %>
    <%= form.collection_select :city_id, City.all, :id, :name, {prompt: "Select"}, {id: :customer_city_id} %><span id="cityError"></span>
  </div>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :customer_name%><span id="nameError"></span>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :customer_email %><span id="emailError"></span>
  </div>
  <div class="field">
    <%= form.label :mobile %>
    <%= form.text_field :mobile, id: :customer_mobile %><span id="mobileError"></span>
  </div>
  <div class="actions">
    <%= form.submit  id:'submit'%>
  </div>
<% end %>
<script>
  var numberFormat = /^\d+$/;
  var emailFormat = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  var nameFormat = /^[a-zA-Z]*$/;
  var stateHandle = document.getElementById('customer_state_id');
  var cityHandle = document.getElementById('customer_city_id');
  var nameHandle = document.getElementById('customer_name');
  var emailHandle = document.getElementById('customer_email');
  var mobileHandle = document.getElementById('customer_mobile');
  var formHandle = document.getElementById('customer_form');
  var stateErrorHandle = document.getElementById('stateError');
  var cityErrorHandle = document.getElementById('cityError');
  var nameErrorHandle = document.getElementById('nameError');
  var emailErrorHandle = document.getElementById('emailError');
  var mobileErrorHandle = document.getElementById('mobileError');
  var submitHandle = document.getElementById('submit');
  var bodyHandle = document.getElementById('body');
  var validator = {
    stateValid: false,
    cityValid: false,
    nameValid: false,
    emailValid: false,
    mobileValid: false
  }
  function stateValidation(){
    if(stateHandle.value === ""){
      validator.stateValid = false;
      stateErrorHandle.innerHTML = "can't be blank";
    }else{
      validator.stateValid = true;
      stateErrorHandle.innerHTML = "";
    }
  }
  function cityValidation(){
    if(cityHandle.value === ""){
      validator.cityValid = false;
      cityErrorHandle.innerHTML = "can't be blank";
    }else{
      validator.cityValid = true;
      cityErrorHandle.innerHTML = " ";
    }
  }
  function nameValidation(){
    if(nameHandle.value === ""){
      validator.nameValid = false;
      nameErrorHandle.innerHTML = "can't be blank";
    }else if(!nameFormat.test(nameHandle.value)){
      validator.nameValid = false;
      nameErrorHandle.innerHTML = "should only be alphabets";
    }
    else{
      validator.nameValid = true;
      nameErrorHandle.innerHTML = "";
    }
  }
  function emailValidation(response){
    if(emailHandle.value === ""){
      validator.emailValid = false;
      emailErrorHandle.innerHTML = "can't be blank";
    }else if(!emailFormat.test(emailHandle.value)){
      validator.emailValid = false;
      emailErrorHandle.innerHTML = "should be a valid email";
    }
    else if(response.msg === 'already taken'){
        validator.emailValid = false;
        emailErrorHandle.innerHTML = response.msg;
    }else{
      validator.emailValid = true;
      emailErrorHandle.innerHTML = "";
    }  
  }
  function mobileValidation(response){
    if(mobileHandle.value === ""){
      validator.mobileValid = false;
      mobileErrorHandle.innerHTML = "can't be blank";
    }else if(!numberFormat.test(mobileHandle.value)){
      validator.mobileValid = false;
      mobileErrorHandle.innerHTML = "should be a number";
    }else if(mobileHandle.value.length !== 10){
       mobileErrorHandle.innerHTML =  "should be 10 digits";
    }else if(response.msg === 'already taken'){
       validator.mobileValid = false;
       mobileErrorHandle.innerHTML = response.msg;
    }else{
      validator.mobileValid = true;
      mobileErrorHandle.innerHTML = "";
    }
  }
  formHandle.addEventListener('submit',function(e){
    stateValidation();
    cityValidation();
    nameValidation();
    if(Object.values(validator).includes(false)){
       e.preventDefault();
       setTimeout(function(){
        submitHandle.disabled = false;
      },100);
    }else{
      e.preventDefault();
      var formData = {
        "utf8": formHandle.elements[0].value,
        "authenticity_token":formHandle.elements[1].value,
        "customer": {
          "name": nameHandle.value,
          "mobile": mobileHandle.value,
          "email": emailHandle.value,
          "state_id": stateHandle.value,
          "city_id": cityHandle.value
        }
      }
      var xhr = new XMLHttpRequest()
      xhr.open('POST','/customers',true);
      xhr.onreadystatechange = function(){
        if(xhr.readyState === 4 && xhr.status === 200){
          customer = JSON.parse(xhr.responseText);
          formHandle.reset();
          setTimeout(function(){
            submitHandle.disabled = false;
          },100);
          tr = document.createElement('tr');
          stateTd = document.createElement('td');//<td></td>
          stateText = document.createTextNode(customer.state_name); //1
          stateTd.appendChild(stateText);//<td>1</td>
          tr.appendChild(stateTd);//<tr><td>1</td></tr>
          cityTd = document.createElement('td');
          cityText = document.createTextNode(customer.city_name); 
          cityTd.appendChild(cityText);
          tr.appendChild(cityTd);
          nameTd = document.createElement('td');
          nameText = document.createTextNode(customer.name);
          nameTd.appendChild(nameText);
          tr.appendChild(nameTd);
          body.appendChild(tr);
          document.querySelector('#count').innerText = customer.customer_count
        }
      }
      xhr.setRequestHeader('Content-Type','application/json');
      xhr.send(JSON.stringify(formData)); 
     }  
  },false);
  stateHandle.addEventListener('change',function(){
    var state_id = stateHandle.value
    if(state_id !== ""){
      var xhr = new XMLHttpRequest();
      xhr.open('GET',`/states/get_cities?state_id=${state_id}`,true);
      xhr.onreadystatechange = function(){
        if(xhr.readyState === 4 && xhr.status === 200 ){
          var cities = JSON.parse(xhr.responseText);
          cityHandle.innerHTML = "";
          cities.forEach(function(city){
            var option = document.createElement('option');
            var optionattr = document.createAttribute('value');
            optionattr.value = city.state_id;
            option.setAttributeNode(optionattr);
            var text = document.createTextNode(city.name);
            option.appendChild(text);
            cityHandle.appendChild(option);
          });
        }
      }
      xhr.send();
    }
  },false);
emailHandle.addEventListener('blur',function(){
      var xhr = new XMLHttpRequest();
      xhr.open('GET','/customers/check_email_present?email='+emailHandle.value,true);
      xhr.onreadystatechange = function(){
        if(xhr.readyState === 4 && xhr.status === 200){
          var response = JSON.parse(xhr.responseText);      
          emailValidation(response)
        }
      }
      xhr.send();
},false);
mobileHandle.addEventListener('blur',function(){
  var xhr = new XMLHttpRequest();
  xhr.open('GET','/customers/check_mobile_present?mobile='+mobileHandle.value,true);
  xhr.onreadystatechange = function(){
    if(xhr.readyState === 4 && xhr.status === 200){
      var response = JSON.parse(xhr.responseText);
      mobileValidation(response);
    }
  }
  xhr.send();
},false);
emailHandle.addEventListener('focus',function(){
          emailErrorHandle.innerHTML = "";
      },false);
mobileHandle.addEventListener('focus',function(){
          mobileErrorHandle.innerHTML = "";
      },false);
</script>




















